* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #333;
}

/*header/ nav*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
}

header nav {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .brand {
  display: inline-block;
  color: #D67D8F;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.7rem;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 10px 0;
}

header nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header nav ul li a:hover {
  border-color: #D67D8F;
  color: #D67D8F;
}

/*main body*/
main {
  margin-top: 58px;
}

main .banner {
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/fontcover.jpg");
  background-size: contain;
  background-position: 82%;
  background-repeat: no-repeat;
}

main .banner .overlay {
  width: 100%;
  height: 76vh;
  background-color: #6e081c52;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner .content {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  color: #fff;
  position: relative;
}

main .banner .content .title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 60px;
  padding-bottom: 80px;
}

main .banner .content .title font {
  font-size: 3.8rem;
  font-weight: 700;
}

main .banner .content .title font:nth-child(3) {
  padding-left: 67px;
}

main .banner .content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 165px;
}

main .banner .content .row .column:first-child {
  width: 320px;
}

main .banner .content .row .column:last-child {
  border-left: 5px solid #fff;
  padding-left: 20px;
}

main .banner .content .row .column h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 21px;
  margin-bottom: 17px;
}

main .banner .content a {
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .banner .content a:first-child {
  margin-right: 20px;
  display: inline-block;
}

main .banner .content a.btn-outline {
  border: 1px solid #fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

main .banner .content a.btn-outline:hover {
  background-color: #D67D8F;
  border-color: transparent;
}

main .banner .content a.btn {
  border: 1px solid transparent;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  background-color: #D67D8F;
}

main .banner .content a.btn:hover {
  background: transparent;
  border-color: #fff;
}

main .services {
  width: 100%;
  max-width: 950px;
  margin: auto;
}

/*Services page*/
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .column .head .title {
  color: #D67D8F;
  font-weight: 400;
  font-size: 1rem;
  line-height: 60px;
  text-transform: uppercase;
}

.services .column .head .desc {
  font-weight: 700;
  font-size: 1.8rem;
}

.services .column .body .line {
  background-color: #D67D8F;
  border: 1.5px solid #D67D8F;
  height: 2px;
  width: 63%;
  max-width: 200px;
  margin-top: 30px;
}

.services .column .body .title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 45px;
}

.services .column .body p {
  width: 60%;
  font-size: 1rem;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .column .body .btn {
  margin-top: 30px;
  border: 1px solid transparent;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #D67D8F;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.services .column .body .btn:hover {
  background: transparent;
  border-color: #fff;
  color: #D67D8F;
  text-transform: uppercase;
}

.services .body-column {
  position: relative;
  background-color: #cf63791e;
  width: 100%;
  max-width: 560px;
  margin-top: 120px;
  padding-left: 150px;
  min-height: 500px;
  border-radius: 8px;
}

.services .body-column .img {
  position: absolute;
  top: 100px;
  left: -100px;
  height: 300px;
  width: 200px;
  background-image: url("../img/cover.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transform: translateY(50);
          transform: translateY(50);
  border-radius: 8px;
}

.services .body-column .service .name {
  color: #D67D8F;
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 0;
}

.services .body-column .service .desc {
  font-size: 0.8rem;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Gallery page*/
.gallery {
  width: 100%;
  height: 650px;
  background-color: #f0e6e896;
  padding: 100px;
}

.gallery .head {
  max-width: 950px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 300px;
}

.gallery .head .title {
  color: #D67D8F;
  font-weight: 600;
  font-size: 2rem;
  line-height: 50px;
  text-transform: uppercase;
  padding: 10px 15%;
}

.gallery .head .desc {
  font-weight: 300;
  font-size: 16px;
  color: #868686;
}

.gallery .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10%;
}

.gallery .row .img1 {
  width: 300px;
  height: 400px;
  background-image: url(../img/nails.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.gallery .row .img2 {
  width: 300px;
  height: 400px;
  background-image: url(../img/hairstyles.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.gallery .row .img3 {
  width: 300px;
  height: 400px;
  background-image: url(../img/facial.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

/*About page*/
.about {
  width: 100%;
  min-height: 50vh;
  background-image: url(../img/female-1836089_1920.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 650px;
  background-position: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 80px 0;
}

.about .overlay {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  height: 650px;
  background-color: #ffffff7c;
}

.about .head {
  position: absolute;
  line-height: 60px;
}

.about .head .title {
  color: #D67D8F;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  float: right;
  margin: 0 0 10% 1090px;
  padding: 2% 0;
}

.about .card {
  width: 350px;
  height: 350px;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 130px;
  padding-left: 60px;
  border-radius: 4px;
}

.about .card:nth-child(3) {
  background-color: #d67d8f7a;
}

.about .card .line {
  background-color: #D67D8F;
  border: 1.5px solid #D67D8F;
  max-width: 200px;
  margin: 30px 0;
}

.about .card .title {
  color: #050505cb;
  font-weight: 400;
  font-size: 2rem;
  line-height: 60px;
  text-transform: uppercase;
}

.about .card p {
  padding: 6px;
  line-height: 25px;
  color: #050505;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

/*Contact page*/
.contact {
  padding: 80px 0;
}

.contact .head .title {
  color: #D67D8F;
  font-weight: 400;
  font-size: 1rem;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0 6%;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.contact .row .column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  line-height: 50px;
}

.contact .row .column form .row {
  padding: 4px 0;
  text-align: center;
  width: 100%;
}

.contact .row .column form .row input {
  padding: 6px 20px;
  font-weight: 400;
  font-size: 16px;
  color: black;
  background-color: rgba(231, 230, 230, 0.267);
  border: 2px solid transparent;
  outline: none;
  border-color: #fff;
}

.contact .row .column form .row input:hover {
  border-color: #D67D8F;
}

.contact .row .column form textarea {
  padding: 6px 20px;
  width: 100%;
  height: 150px;
  font-weight: 400;
  font-size: 16px;
  color: black;
  background-color: rgba(231, 230, 230, 0.267);
  border: 2px solid transparent;
  outline: none;
}

.contact .row .column form textarea:hover {
  border-color: #D67D8F;
}

.contact .row .column form button {
  border: 1px solid transparent;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #D67D8F;
}

.contact .row .column form button:hover {
  background: transparent;
  border-color: #D67D8F;
  color: #D67D8F;
  font-weight: 500;
}

.contact .row .column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  float: left;
  left: 500px;
}

.contact .row .column .title {
  color: #D67D8F;
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
}

.contact .row .column .line {
  background-color: #D67D8F;
  border: 1.5px solid #D67D8F;
  height: 2px;
  width: 150px;
  max-width: 200px;
}

.contact .row .column p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.model {
  background-color: #fff;
  padding: 0 10px;
  position: absolute;
  border-radius: 10px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.model form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model label {
  margin-right: 10px;
}

.model button {
  margin-left: 20px;
}

.model.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client {
  width: 100%;
  max-width: 950px;
  margin: auto;
  padding: 50px 0;
}

/*Footer*/
footer {
  width: 100%;
  height: 150px;
  background-color: #D67D8F;
  position: relative;
  padding: 50px 0;
}

footer nav {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav .brand {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.7rem;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  display: inline-block;
  padding: 10px 0;
}

footer nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer nav ul li a:hover {
  border-color: #fff;
}
/*# sourceMappingURL=style.css.map */